<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <style></style>
    <style>
      body {
        background: rgb(235, 235, 236);
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #757272;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      tr:nth-child(odd) {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container ">
      <div class="row mt-4">
          <div class="mt-4">
            <img src="./img/logo.png" alt="logo" width="120" height="120" />
            <a href="/admin">
            <button class="btn btn-info " style="margin-left:800px; height: 100px; width: 120px; font-size: 17px; ">Order Status</button>
            </a>

            <h2>Showing Products</h2>
    
            <table>
              <tr>
                <th>Shop Id</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Product ID</th>
              </tr>
            
                <% (products).forEach(element=> { %>
                    <tr>
                <td><%= element.shop_id  %> </td>
                <td><%= element.product_name  %> </td>
                <td><%= element.price  %> </td>
                <td><%= element.description  %> </td>
                <td><%= element.product_id  %> </td>
            </tr>
                <% }) %>
              
            </table>

          </div>
        
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
